.index-ul{
    list-style: none;
    padding-left: 5px;
}
.index-li{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 10px 0;
}
.avatar-group{
    width: 55px;
    height: 100%;
    float: left;
}
.avatar{
    width: 50px;
    height: 50px;
}
.question-group{
    float: left;
    width: 790px;
    margin-left: 10px;
    padding-top: 15px;
}
.question-title{
    color: #259;
    font-weight: 900;
}
.question-info{
    text-align: right;
}
.question-author{
    padding-right: 10px;
}